.counter-container{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.count-display{
  font-size: 10rem;
  font-weight: bold;

}

.counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.5rem;
  background-color:dodgerblue;
  border-radius: 9%;
  padding: 10px;
  margin: 10px;
  color: cornsilk;
  cursor: pointer;
  box-shadow: .1cm  .1cm rgba(0,0,0,0.5);
  
}

.counter-button:hover{
  width: 200px;
  height: 75px;
  background-color: darkblue;
  transform: scale(1);
  transition: .5s ease-in-out;
}
